<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="./images/smalllogo.png"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
    </ul>
    <ul id="nav-mobile" class="sidenav">
      <li><a href="/">Home</a></li>
    </ul>
    <a href="/" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">Home</i></a>
  </div>
</nav>

<div class="container">
  <div class="row valign-wrapper">
    <form class="col s12" action="/quickplay" method="POST">
      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input name="input1" id="input1" type="text" class="validate">
          <label for="input1">{{type1}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input name="input2" id="input2" type="text" class="validate">
          <label for="input2">{{type2}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input name="input3" id="input3" type="text" class="validate">
          <label for="input3">{{type3}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input name="input4" id="input4" type="text" class="validate">
          <label for="input4">{{type4}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input name="input5" id="input5" type="text" class="validate">
          <label for="input5">{{type5}}</label>
        </div>
      </div>
      <div class="row">
       <div class="input-field col s4 offset-s4">
         <input name="input6" id="input6" type="text" class="validate">
         <label for="input6">{{type6}}</label>
       </div>
      </div>
      <div class="row">
       <div class="input-field col s4 offset-s4">
         <input name="input7" id="input7" type="text" class="validate">
         <label for="input7">{{type7}}</label>
       </div>
      </div>

      <div class="row center">

        <button class="btn waves-effect waves-light " type="submit">
            Submit
        </button>
      </div>



    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>