<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="/images/smalllogo.png"></a>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <blockquote class="center-align story">
            <span>
                {{story.phrase1}}{{input.input1}}
                {{story.phrase2}}{{input.input2}}
                {{story.phrase3}}{{input.input3}}
                {{story.phrase4}}{{input.input4}}
                {{story.phrase5}}{{input.input5}}
                {{story.phrase6}}{{input.input6}}
                {{story.phrase7}}{{input.input7}}
                {{story.phrase8}}{{input.input8}}
                {{story.phrase9}}{{input.input9}}
                {{story.phrase10}}{{input.input10}}
                {{story.phrase11}}{{input.input11}}
                {{story.phrase12}}{{input.input12}}
                {{story.phrase13}}{{input.input13}}
                {{story.phrase14}}{{input.input14}}
            </span>
        </blockquote>
    </div>
</div>